<web-app>
	<context-param>
		<param-name>name</param-name>
		<param-value>Mohd Umar</param-value>
	</context-param>
	<servlet>
		<servlet-name>test </servlet-name>
		<servlet-class>com.um.servlet.First</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
</web-app>